<main>
    <div class="container main ">
        <div class="col-md-12 col-xs-12">
            <h3 class="text-danger"><%= message %></h3>
            <img style="width: 100%;" src="/images/404.jpg" alt="">
            <p><%= error %></p>
            <h3 class="text-danger">请重新登录!!! <i class="fa fa-hand-o-right" aria-hidden="true"></i> <a style="color: #000" href="/login"> 登录</a></h3>

        </div>
    </div>
</main>