.navbar-brand > img {
    margin-top: -15px;
}
.navbar-brand logo  {
    height: 50px;
    padding-top: 10px;
}
.icon {
    width: 8em; height: 10em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
/*调markdown格式*/
.CodeMirror {
    height: 80px !important;
}
.editor-statusbar {
    display: none!important;
}
