a {
   text-decoration: none;
    color: white;
}
main {
    margin-top: 30px;
}
main .container {
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    background: #fff;
    background: rgba(255, 255, 255, 0.6)!important;
}

.main-left {
    padding: 40px 0;
    border-right: 1px solid #e6e6e6;
}
.main-right {
    padding: 20px 20px 0;
    margin-left: -1px;

}
.main-right {
    padding: 40px 20px 0;
}
.detail-all > div {
    margin: 0 20px 20px;
    position: relative;
}
.detail-allShare {
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
}
.detail-allShare:hover {
    background: #339DFF;
}
.detail-allShare a {
    color: #fff;
}
.detail-title {
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.detail-title h1 {
    max-width: 500px;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}
.detail-follow-btn {
    position: absolute;
    right: 0;
    bottom: 8px;
    min-width: 76px;
    height: 34px;
    padding: 0 10px;
    line-height: 34px;
    font-size: 14px;
    border: none!important;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    text-align: center;
}

.detail-follow-btn a {
    color: #fff;
}

.detail-content {
    color: #555;
    padding-left: 8px;
    word-wrap:break-word;
}

.detail-option {
    font-size: 12px;
    color: #999;
    margin-top: 35px !important;
}
.detail-option a {
    font-size: 13px;
    color: #999;
}
.detail-option a:hover {
    color: #000;
}
.leave-head {
    margin: 10px 0;
}
.leaveMessage .leave-head a {
    display: inline-block;
    width: 32px;
    height: 32px;
}
.leaveMessage .leave-head a img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.leaveMessage .leave-head span {
    color: #666;
    margin-left: 5px;
}
.leaveMessage .CodeMirror, .leaveMessage .CodeMirror-scroll {
    height: auto !important;
    min-height: 200px !important;
}
.leave-foot input {
    border: none!important;
    background-color: #000;
    color: #fff;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 4px;
    outline: none;
    margin: 30px 0;
}
.leave-foot input:hover {
    background-color: #000;
}
.detail-comment {
    margin: 0 !important;
}
.comment-head {
    padding-left: 20px !important;
}
.detail-comment .comment-body {
    padding: 0 20px 20px;
}
.col-lg-11 {
    padding-right: 0;
    width: 94%;
}
.comment-head {
    padding: 5px 0 10px;
    border-bottom: 1px solid #e6e6e6;
}
.comment-head h1 {
    font-size: 20px;
}
.comment-body li {
    border-bottom: 1px solid #eee;
}
.comment-body li:last-of-type {
    border-bottom: none;
}
.comment-body-list {
    padding: 15px 0;
}
.comment-body-list .head-img {
    display: inline-block;
    width: 6%;
}
.comment-body-list .head-img img {
    width: 100%;
    border-radius: 4px;
}
.small-comment-body {
    border: 1px solid #eee;
    border-radius: 4px;
    margin-top: 10px;
}
.small-comment-body li {
    border-bottom: 1px solid #eee!important;
    margin: 10px 0;
}
.page {
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background: #499EF3;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    margin: 20px auto;
}
.small-comment-body input[type=submit] {
    padding: 3px 15px;
    height: 32px;
    background: #000;
    color: #fff;
    border: none;
    /*margin-top: 15px;*/
    border-radius: 4px;
    /*margin-left: 15px;*/
}
.small-comment-body input[type=submit]:hover {
    background: #000;
}
.comment-list-content {
    padding-left: 8px;
}
.comment-list-content .comment-label {
    padding: 1px 2px;
    background-color: #99cfff;
    color: white;
    font-size: 12px;
    border-radius: 2px;
}
.comment-author {
    font-size: 14px;
    color: #666;
}
.comment-list-content p {
    margin: 10px 0;
    color: #666;
    padding-left: 5px;
}
.comment-list-content .meta {
    padding: 10px 0 5px;
    color: #999;
}
.comment-list-content .meta a {
    color: #999;
    padding: 6px 8px;
    border-radius: 4px;
}
.comment-list-content .meta a {
    border: 1px solid #eee;
}
.comment-list-content .meta a:hover {
    background: #499EF3;
    color: #fff;
    border: 1px solid #499EF3;

}

.more {
    font-size: 12px;
}
.main-right > div {
    border-bottom: 1px solid #eee;
}
.main-right > div:last-of-type {
    border-bottom: none;
}
.main-right h4 {
    font-size: 14px;
    padding-bottom: 10px;
    margin-top: 25px;
}
.main-right .message h4 {
    margin-top: 0;
}
.main-right .message div {
    margin-bottom: 20px;
}
.main-right .message a {
    font-size: 13px;
}
.main-right .message p {
    margin-top: 30px;
    padding-bottom: 20px;
    color: #999;
    font-size: 12px;
}
.main-right img {
    width: 100px !important;
    border-radius: 5px;
    margin-right: 10px;
}
.hot div {
    margin-bottom: 25px;
}
.hot div a {
    font-size: 12px;
}
.hot div p {
    font-size: 12px;
    color: #999;
}


input[disabled] {
    cursor: no-drop !important;
    background: #000 !important;
}

.markdown-text li {
    border: none !important;
}
.markdown-text ol li {
    list-style: decimal;
    margin: 0;
}
.markdown-text ol {
    padding-left: 20px;
}
.markdown-text ul {
    margin-left: 20px;
}
.markdown-text ul li {
    list-style: disc;
    margin: 0;
}
.markdown-text img {
    width: 100%;
}

#showReply {
    background: #f9f9f9;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin: 40px 20px 80px;
    cursor: pointer;
    color: #999;
}
#showReply:hover {
    color: #666;
    background: #f3f3f3;
    transition: .2s;
}
.tipLogin {
    background: #f9f9f9;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin: 40px 20px 80px;
    cursor: pointer;
    color: #999;
}
.comment-body-list form {
    margin-top: 20px;
}
.comment-list-content {
    color: #666;
}
.falseDiv {
    padding: 5px;
    min-height: 20px;
    height: auto;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f9f9f9;
    outline: none;
    transition: .1s;
}
.falseDiv-two {
    display: inline-block;
    width: 88%;
}
.falseDiv:empty:before{
    content: attr(placeholder);
    color:#bbb;
}
.falseDiv:focus {
    background: #fff;
}
.reply-somebody {
    margin: 10px 5px;
}
.reply-somebody-cancel {
    background: #59b0ff !important;
}
.reply-somebody-cancel:hover {
    background: #4DAAFF !important;
}
.comment-list-content p {
    word-wrap: break-word;
}
.small-comment-body .CodeMirror, .small-comment-body .CodeMirror-scroll {
    min-height: 20px !important;
    height: auto !important;
    border-radius: 4px;
    /*padding: 5px;*/
}
.small-comment-body .CodeMirror {
    width: 88%;
    float: left;
     /*min-height: 20px !important;*/
    margin-bottom: 10px;
    padding: 5px;
 }
.small-comment-body .CodeMirror-lines {
    padding: 0 !important;
}
.btn:active, .btn.active {
    cursor: default;
    background: #499ef3;
    border: 1px solid #499ef3;
    color: #fff;
}
.baiduShare {
    position: relative;
}
.baiduShare:before {
    display: inline-block;
    content: '';
    border: 10px solid transparent;
    position: absolute;
    right: -20px;
    top: calc(50% - 10px);
    border-left-color: #eee;
}
.guang {
    cursor: pointer;
    text-align: right;
    margin-top: 20px;
}
.guang img {
    width: 255px !important;
}