
main {
    margin-top: 30px;
}
main .container {
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    background: #fff;
    background: rgba(255, 255, 255, 0.6)!important;
}
.main-title {
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
}
.main-title h4 {
    font-size: 20px;
}
.main-body {
    padding: 40px 40px 150px;
}
.main-body h3 {
    font-size: 16px;
    color: #333;
    margin: 0;
}
.main-body dt, .main-body dd {
    float: left;
    color: #666;
    font-weight: normal;
}
.main-body label {
    font-weight: normal;
}
.main-body dl {
    padding-left: 35px;
    margin: 25px 0;
}
.main-body dl:last-child {
    padding-left: 10px;
    margin-bottom: 10px;
}
.main-body dd label {
    color: #a94442;
}
.message-data .col-lg-8 {
    width: 500px;
}
.message-data .col-lg-4 {
    width: 350px;
}
.message-data .col-lg-4 dt {
    display: table-cell;
    /*float: left;*/
    width: 100px;
    height: 100px;
    /*width: auto;*/
    margin-right: 10px;
}
.file-input, .file-preview, .file-drop-zone, .file-preview-thumbnails, file-default-preview, .file-preview-frame {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100px !important;
    height: 100px !important;
    cursor: pointer !important;
    outline: none;
}
.file-input {
    width: 108px !important;
    height: 108px !important;
    border-radius: 4px;
    border: 1px solid #ccc !important;
}
.file-preview {
    width: 106px !important;
    height: 106px !important;
    border: 3px solid transparent !important;
}
.file-footer-caption {
    width: 100px !important;
}
.file-footer-caption div {
    width: 100% !important;
}
.file-preview-frame:hover .kv-file-content {
    box-shadow: none;
}
.kv-file-content:hover {
    box-shadow: none;
}
.kv-file-content img {
    width: 100% !important;
    height: 100% !important;
}
.file-upload-indicator {
    display: none;
}
.message-data .col-lg-4 dt img {
    /*border-radius: 4px;*/
    width: 100px;
    height: 100px;
}

.message-data .col-lg-4 dd {
    float: right;
    width: 180px;
}
.message-data .col-lg-4 dd p {
    margin-bottom: 22px;
}
textarea {
    width: 250px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    resize: none;
}
input[type=file] {
    width: 100px;
    height: 30px;
    opacity: 0;
    position: relative;
    z-index: 999;
}
.upload {
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    background: #4DAAFF;
    position: relative;
    bottom: 30px;
}
.message-button input[type=submit] {
    border: none!important;
    background-color: #000;
    color: #fff;
    height: 38px;
    padding: 0 10px;
    line-height: 38px;
    font-size: 14px;
    min-width: 120px;
    border-radius: 4px;
    outline: none;
}

