<div class="modal fade follow" id="beFollowed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 style="font-size: 18px" class="modal-title" id="myModalLabel">
                    被<span><%= personPopulater.beFollowed.length %></span>人关注
                </h4>
            </div>
            <div class="modal-body">
                <ul class="myFollows-list">

                </ul>
            </div>
        </div>
    </div>
</div>