<% messages.forEach(function(message, index) { %>
<li>
    <p><a href="/question/<%= message.question_id._id %>"><%= message.question_id.title %></a></p>
    <p class="metas">
        <a class="comments" href="javascript:;"><span class="fa fa-comment-o"></span> &nbsp;<%= message.question_id.comment_num %></a>
        <span><%- markdown(message.reply_id.content) %></span>
    </p>
</li>
<% }) %>
